# Set the default behavior for text files
* text=auto

# Explicitly mark binary files to be treated as binary and not be modified
*.png binary
*.jpg binary
*.jpeg binary
*.gif binary
*.pdf binary
*.zip binary
*.tar.gz binary
*.jar binary
