<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Login</title>
	<meta charset="utf-8">  
</head>
  <style>
    @import url('https://fonts.googleapis.com/css2?family=Palanquin:wght@300&family=Pathway+Gothic+One&display=swap');
    
a{
    color: white;
}

    
  </style>
<body align="center" style="background-color: #212121; padding-top: 25px; color: #ffffff; font-family: 'Palanquin', sans-serif;">
  <div style="width: 500px; margin: auto; padding: 20px; background-color: #424242;">
    <div style="font-family: 'Pathway Gothic One', sans-serif; font-size: 40px;">Smartlab - Redefinição de senha</div>
    <div style="margin-top: 50px; margin-bottom: 25px;"></div>

    <div th:if="${error == null && success == null}">
            <div>
              <label>Olá, <span th:text="${user.firstName} + ' ' + ${user.lastName}"></span></label>
              <p>Crie uma nova senha para sua conta.</p>
            </div>
             <div th:if="${warning}">
                <p>Senha inválida. Ela deve ter no mínimo 6 caracteres.</p>
            </div>
            <form th:action="${action}" method="post">
              <input type="password" id="password" name="password" required/>
              <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
              <input type="hidden" name="token" id="token" th:value="${token}"/><br/><br/>
              <button type="submit">Redefinir senha</button>
            </form>
           </div>
          <div th:if="${success}">
            <label>Confirmação</label>
            <p>Senha redefinida com sucesso. Volte para o portal do Smartlab e faça o login.</p>
          </div>
          <div th:if="${error}">
            <div>
              <label>Erro</label>
              <p>Favor voltar ao portal do Smartlab e tentar novamente.</p>
            </div>
            <div>
              Descrição: <span th:text="${error}" class="error"></span>
            </div>
          </div>
  </div>
</body>
</html>